<div class="row">
<!--    <div class="col-md-2">
    <select class="form-control" data-ng-model="choice.mediaType" data-ng-options="mediaType.name for mediaType in choiceTypeCtrl.mediaTypes track by mediaType.id | orderBy:'name'">
    </select>
    </div>-->
    <div class="col-md-8">
        <div data-ng-include="choiceTypeCtrl.webDir + 'bundles/innovaactivity/angularjs/ActivityProperty/Partials/' + choiceTypeCtrl.activityType.mediaType.template" ></div>
        </div>
    <div class="col-md-3">
        <label class="btn-checkbox">
            <input type="checkbox" data-ng-model="choice.correctAnswer" data-ng-change="choiceTypeCtrl.selectChoice(choice)" />
            Réponse attendue
        </label>
        <span data-ng-if="choiceTypeCtrl.activityType.typeAvailable.name !== 'BooleanChoiceType'" >
            <button data-ng-click="choiceTypeCtrl.removeChoice(choice)" class="btn btn-danger fa fa-trash"></button>
            <span class="sr-only">{{ 'delete' | trans:{}:'activity_sequence_editor' }}</span>
        </span>
    </div>
</div>
