<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#panel-choices">Choices</a>
        </h4>
    </div>

    <div id="panel-choices" class="panel-collapse collapse" >
        <div class="panel-body">
            <button data-ng-click="choiceTypeCtrl.addChoice()" class="btn btn-default">Ajouter un choix</button>
            <ul>
                <li data-ng-repeat="choice in choiceTypeCtrl.activityType.choices">
                    <div data-ng-include="choiceTypeCtrl.webDir + 'bundles/innovaactivity/angularjs/ActivityProperty/Partials/choice-form.html'" ></div>
                    <button data-ng-click="choiceTypeCtrl.removeChoice(choice)" class="btn btn-danger">Supprimer</button>
                </li>
            </ul>
        </div>
    </div>
</div>