<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#panel-choices">Choices</a>
        </h4>
    </div>
    
    <div id="panel-choices" class="panel-collapse collapse" >
        <div class="panel-body">
            <ul class="list-unstyled">
                <li data-ng-repeat="choice in choiceTypeCtrl.activityType.choices">
                    <div class="panel">
                        <div data-ng-include="choiceTypeCtrl.webDir + 'bundles/innovaactivity/angularjs/ActivityProperty/Partials/choice-form.html'" class="col-md-8" ></div>
                        <button data-ng-click="choiceTypeCtrl.removeChoice(choice)" class="btn btn-danger fa fa-trash"></button>
                        <span class="sr-only">{{ 'delete' | trans:{}:'activity_sequence_editor' }}</span>
                    </div>
                </li>
            </ul>
            <div class="col-md-1">
                <button data-ng-click="choiceTypeCtrl.addChoice()" class="btn btn-primary fa fa-plus-circle"></button>
            </div>
        </div>
    </div>
</div>