<span>
    UniqueChoiceType
</span>
<div class="panel panel-default">
    <div class="panel-body">
        <button data-ng-click="uniqueChoiceCtrl.addChoice()" class="btn btn-default">Ajouter une question</button>
    <!--    <ul>
            <li data-ng-repeat="instruction in activityCtrl.activity.instructions" >
                <div data-ng-include="activityCtrl.webDir + 'bundles/innovaactivity/angularjs/ActivityProperty/Partials/instruction-form.html'" ></div>
                <button data-ng-click="activityCtrl.removeInstruction(instruction)" class="btn btn-danger" >Supprimer</button>
            </li>
        </ul>-->
    </div>
</div>
