<div class="panel">
    <div class="activity-intro">
        <div class="row"><h3>{{ activityPlayerCtrl.sequence.name}}</h3></div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <span data-ng-bind-html="activityPlayerCtrl.sequence.description"></span>
            </div>
            <div class="col-md-2"></div>
            
            <table class="table-striped col-md-offset-1 col-md-10" data-ng-if="activityPlayerCtrl.answersGiven()" >
                <tr>
                    <th class="intro-th">N°</th>
                    <th class="intro-th">{{ 'start_date_hour' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'end_date_hour' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'executed_activities' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'right_answers_found' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'after_trials' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'answers_not_found' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'clues_asked' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'see' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'share' | trans:{}:'activity_editor' }}</th>
                    <th class="intro-th">{{ 'tag' | trans:{}:'activity_editor' }}</th>
                </tr>
                <tr data-ng-repeat="answer in activityPlayerCtrl.getUsersPreviousAnswers()" >
                    <td class="intro-td">{{ $index + 1 }}</td>
                    <td class="intro-td">{{ activityPlayerCtrl.getDate($index + 1, 1) }}</td>
                    <td class="intro-td">{{ activityPlayerCtrl.getDate($index + 1, -1) }}</td>
                    <td class="intro-td">{{ activityPlayerCtrl.getExecutedActivities($index + 1) }}</td>
                    <td class="intro-td">{{ activityPlayerCtrl.getRightAnswersGiven($index + 1, true) }}</td>
                    <td class="intro-td"></td>
                    <td class="intro-td">{{ activityPlayerCtrl.getRightAnswersGiven($index + 1, false) }}</td>
                    <td class="intro-td"></td>
                    <td class="intro-td"></td>
                    <td class="intro-td"></td>
                    <td class="intro-td"></td>
                </tr>
            </table>
            <div class="col-md-1"></div>
        </div>
        
        <button data-ng-if="activityPlayerCtrl.isAuthorizedStart()" data-ng-click="activityPlayerCtrl.start()" class="btn btn-primary btn-save">
            <span>{{ 'start' | trans:{}:'activity_editor' }}</span>
        </button>
        <span data-ng-if="activityPlayerCtrl.isAuthorizedStart() === false">
            {{ 'all_tries_used' | trans:{}:'activity_editor' }}
        </span>
    </div>
</div>