<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ 'instructions' | trans:{}:'activity_editor' }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li data-ng-repeat="instruction in activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].instructions">{{ instruction.media}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" data-ng-if="activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].complementaryInfos.length !== 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ 'complementary_infos' | trans:{}:'activity_editor' }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li data-ng-repeat="complementaryInfo in activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].complementaryInfos">{{ complementaryInfo.media}}</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ 'contents' | trans:{}:'activity_editor' }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li data-ng-repeat="content in activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].contents">{{ content.media}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ 'question' | trans:{}:'activity_editor' }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li data-ng-repeat="question in activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].questions">{{ question.media }}</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ 'choices' | trans:{}:'activity_editor' }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li data-ng-repeat="choice in activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].type.choices track by $index | orderBy:activityPlayerCtrl.randomSort">
                            <input data-ng-if="activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].typeAvailable.name === 'MultipleChoiceType'" data-ng-model="activityPlayerCtrl.inputsMultiple[$index]" name="choices[]" type="{{ activityPlayerCtrl.inputType() }}" id="choice-{{ choice.id }}" value="{{ choice.id }}" data-ng-change="activityPlayerCtrl.checkInputs(choice.id)" />
                            <input data-ng-if="activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].typeAvailable.name !== 'MultipleChoiceType'" data-ng-model="activityPlayerCtrl.inputsUnique[$index]" name="choices[]" type="{{ activityPlayerCtrl.inputType() }}" id="choice-{{ choice.id }}" value="{{ choice.id }}" data-ng-change="activityPlayerCtrl.checkInputs(choice.id)" />
                            <span data-ng-bind-html="choice.media"></span>
                            <span data-ng-if="activityPlayerCtrl.currentAction === 'feedback'">
                                <i class="{{ activityPlayerCtrl.isCorrect(choice.correctAnswer, choice.id) }}" data-toggle="tooltip" data-container="body" title="{{ activityPlayerCtrl.specificFeedback(choice.correctAnswer, choice.id) | trans:{}:'activity_editor' }}"></i>
                            </span>
                        </li>
                    </ul>
                    <span data-ng-if="activityPlayerCtrl.currentAction === 'feedback'">{{ activityPlayerCtrl.genericFeedback() | trans:{}:'activity_editor' }}</span>
                </div>
            </div>
            <div class="panel panel-default" data-ng-if="activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].functionalInstructions.length !== 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ 'functional_instructions' | trans:{}:'activity_editor' }}
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li data-ng-repeat="functionalInstruction in activityPlayerCtrl.sequence.activities[activityPlayerCtrl.iterator].functionalInstructions">{{ functionalInstruction.media}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
