<div class="panel">
    <div class="activity-intro">
        <div class="row"><h3>{{ activityPlayerCtrl.sequence.name}}</h3></div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                Etiam nisi arcu, iaculis ut neque eget, cursus accumsan erat.
                Donec feugiat purus quis quam lobortis, quis commodo justo suscipit.
                Quisque eu nunc nec sem vulputate fermentum at a metus. Fusce ac lorem a lacus tristique imperdiet.
                Aenean et euismod turpis. Sed semper varius tincidunt.
                Praesent at nibh laoreet, laoreet dui sed, accumsan ex. Nunc id tellus orci. Pellentesque dictum magna mi.
                Duis a massa dignissim, porta tortor quis, aliquam erat.
                Praesent pulvinar rutrum quam, ut vehicula sapien bibendum vitae. Morbi congue placerat molestie.
                Aliquam at consectetur orci. Sed ultricies dolor eu odio ultricies, eget blandit lectus hendrerit.
                Proin elementum, sapien vel malesuada aliquet, enim lorem consectetur est, in finibus lorem lacus a felis. 
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <table class="table-striped" data-ng-if="activityPlayerCtrl.answersGiven()" >
            <tr>
                <th>N°</th>
                <th>{{ 'start_date_hour' | trans:{}:'activity_editor' }}</th>
                <th>{{ 'end_date_hour' | trans:{}:'activity_editor' }}</th>
                <th>{{ 'executed_activities' | trans:{}:'activity_editor' }}</th>
                <th>{{ 'right_answers_found' | trans:{}:'activity_editor' }}</th>
                <th>{{ 'after_trials' | trans:{}:'activity_editor' }}</th>
                <th>{{ 'answers_not_found' | trans:{}:'activity_editor' }}</th>
                <th>{{ 'clues_asked' | trans:{}:'activity_editor' }}</th>
            </tr>
            <tr data-ng-repeat="answer in activityPlayerCtrl.getUsersPreviousAnswers()" >
                <td>{{ $index + 1 }}</td>
                <td>{{ activityPlayerCtrl.getDate(-1) }}</td>
                <td>{{ activityPlayerCtrl.getDate(1) }}</td>
                <td>{{ activityPlayerCtrl.getExecutedActivities($index + 1) }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        
        <button data-ng-click="activityPlayerCtrl.start()" class="btn btn-primary btn-save">
            <span>{{ 'start' | trans:{}:'activity_editor' }}</span>
        </button>
        
        <button data-ng-click="activityPlayerCtrl.test()">Test</button>
    </div>
</div>