<div class="panel">
    <!--   {{ activityPlayerCtrl }} -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <span>{{ activityPlayerCtrl.sequence.name}} - essais : {{ activityPlayerCtrl.trial }}</span>
                    <span data-ng-if="activityPlayerCtrl.currentFile === 'edit'"> - {{ activityPlayerCtrl.iterator + 1 }}</span>
                </div>
            </div>
            <div class="dots">
                <i class="fa fa-caret-left dots-arrows"></i>
                
                <i class="fa {{ activityPlayerCtrl.isSelectedDot(-1) }}" data-toggle="tooltip" data-container="body" title="Introduction"></i>
                
                <a data-ng-if="activityPlayerCtrl.currentFile !== 'end'" href="#" data-ng-repeat="activity in activityPlayerCtrl.sequence.activities" data-ng-click="activityPlayerCtrl.jumpTo($index)">
                    <i class="fa {{ activityPlayerCtrl.isSelectedDot($index, activity.id) }}" data-toggle="tooltip" data-container="body" title="{{ activity.name }}"></i>
                </a>
                <span data-ng-repeat="activity in activityPlayerCtrl.sequence.activities" >
                    <i data-ng-if="activityPlayerCtrl.currentFile === 'end'" class="fa {{ activityPlayerCtrl.isSelectedDot($index, activity.id) }}" data-toggle="tooltip" data-container="body" title="{{ activity.name }}"></i>
                </span>
                
                <a href="#" data-ng-click="activityPlayerCtrl.jumpTo('end')" data-ng-if="activityPlayerCtrl.currentFile !== 'intro'" >
                    <i class="fa {{ activityPlayerCtrl.isSelectedDot('end') }}" data-toggle="tooltip" data-container="body" title="Fin"></i>
                </a>
                <i data-ng-if="activityPlayerCtrl.currentFile === 'intro'" class="fa {{ activityPlayerCtrl.isSelectedDot('end') }}" data-toggle="tooltip" data-container="body" title="Fin"></i>
                
                <i class="fa fa-caret-right dots-arrows"></i>
            </div>
        </div>
    </nav>

    <div class="panel-body" data-ng-include="activityPlayerCtrl.webDir + 'bundles/innovaactivity/angularjs/ActivityPlayer/Partials/form-activity-' + activityPlayerCtrl.currentFile + '.html'"></div>

    <nav class="navbar navbar-default navbar-foot">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button data-ng-if="activityPlayerCtrl.currentAction === 'edit'" data-ng-click="activityPlayerCtrl.save()" class="btn btn-primary btn-save">
                        <span>{{ 'submit' | trans:{}:'activity_editor' }}</span>
                    </button>
                    <button data-ng-if="activityPlayerCtrl.currentAction === 'feedback'" data-ng-click="activityPlayerCtrl.next()" class="btn btn-primary btn-save">
                        <span>{{ 'next' | trans:{}:'activity_editor' }}</span>
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>