<div contenteditable data-ng-model="choice.media" class="form-control" ></div>
<div class="annotation-buttons-container text-center">
    <button type="button" class="btn annotation-button blue" title="Accent primaire" data-color="blue" data-ng-click="activityMediaTypeProsodicCtrl.annotate('blue')" tabIndex="-1">&nbsp;</button>
    <button type="button" class="btn annotation-button red" title="Accent secondaire" data-color="red" data-ng-click="activityMediaTypeProsodicCtrl.annotate('red')" tabIndex="-1">&nbsp;</button>
    <button type="button" class="btn annotation-button orange" title="Voyelle faible" data-color="orange" data-ng-click="activityMediaTypeProsodicCtrl.annotate('orange')" tabIndex="-1">&nbsp;</button>
    <button type="button" class="btn annotation-button black" title="Texte normal" data-color="black" data-ng-click="activityMediaTypeProsodicCtrl.annotate('black')" tabIndex="-1">&nbsp;</button>
</div>