{# Properties of form #}
<div class="panel-body" data-ng-controller="ActivityEditController">
    <form method="post" class="form form-horizontal">

        <!-- Add save button -->
        {% include 'InnovaActivityBundle::Editor/components/save.html.twig' %}
        <!-- End add save button -->

        {# To have collapse/accordion #}
        <div class="panel-group" id="accordion">

            <div id="panel-form" class="panel-collapse collapse in">

                {# Typology protocole #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#panel-typology">{{ 'typology'|trans({}, 'activity_sequence_editor') }}</a>
                        </h4>
                    </div>
                    <div id="panel-typology" class="panel-collapse collapse in">
                        <div class="panel-body">
                        <select class="form-control" required="true" name="typology" id="typology" data-ng-model="currentActivity.typology">
                            <option value="vf">VF</option>
                            <option value="qru">QRU</option>
                        </select>
                        </div>
                    </div>
                </div>

                {# Open and close all panels #}
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-all">{{ 'close_open'|trans({}, 'activity_sequence_editor') }}</a>
                    </h4>
                </div>
                <div id="panel-all" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <!-- Add input form -->
                        {% include 'InnovaActivityBundle::Editor/components/form-input.html.twig' %}
                        <!-- End add input form -->
                    </div>
                </div>
            </div>

        </div>

    </form>
</div> {# End Properties of form #}
