<div class="pull-right">
    <button type="submit" class="btn btn-primary" data-ng-click="save()">
        <span class="fa fa-floppy-o"></span> {{ 'save'|trans({}, 'path_editor') }}
    </button>
</div>
