<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel-question">Question</a>
            </h4>
        </div>
        <div id="panel-question" class="panel-collapse collapse" >
            <div class="panel-body">
                <textarea data-ng-model="activityCtrl.activity.question" class="form-control" placeholder="Question" ></textarea>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#panel-instruction">Consignes</a>
            </h4>
        </div>
        <div id="panel-instruction" class="panel-collapse collapse" >
            <div class="panel-body">
                <ul class="list-unstyled ">
                    <li data-ng-repeat="instruction in activityCtrl.activity.instructions" class="list-unstyled">
                        <div class="panel">
                            <div data-ng-include="activityCtrl.webDir + 'bundles/innovaactivity/angularjs/ActivityProperty/Partials/instruction-form.html'" class="col-md-8" ></div>
                            <button data-ng-click="activityCtrl.removeInstruction(instruction)" class="btn btn-danger fa fa-trash"></button>
                            <span class="sr-only">{{ 'delete' | trans:{}:'activity_sequence_editor' }}</span>
                        </div>
                    </li>
                </ul>
                <div class="col-md-1">
                    <button data-ng-click="activityCtrl.addInstruction()" class="btn btn-default btn-primary fa fa-plus-circle"></button>
                </div>
            </div>
        </div>
    </div>

    <choice-type-form data-activity-type="activityCtrl.activity"></choice-type-form>
</div>
