<form method="post" class="form form-horizontal">
    <div class="panel panel-default">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#activity-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="" data-ng-click="activityCtrl.changeView('properties')">
                        {{ activityCtrl.activity.name}}
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="activity-navbar">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{ 'active': 'identity' == activityCtrl.view }">
                            <a href="" data-ng-click="activityCtrl.changeView('identity')">
                                <span class="fa fa-file-text-o"></span>
                                {{ 'id_card' | trans:{}:'activity_editor' }}
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button data-ng-click="activityCtrl.update()" class="btn btn-success btn-save fa fa-floppy-o">
                                <span>{{ 'save' | trans:{}:'activity_editor' }}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="panel-body" data-ng-if="'properties' == activityCtrl.view" data-ng-include="activityCtrl.webDir + 'bundles/innovaactivity/angularjs/Activity/Partials/form-properties.html'"></div>
        <div class="panel-body" data-ng-if="'identity' == activityCtrl.view" data-ng-include="activityCtrl.webDir + 'bundles/innovaactivity/angularjs/Activity/Partials/form-identity.html'"></div>

        <nav class="navbar navbar-default navbar-foot">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button data-ng-click="activityCtrl.update()" class="btn btn-success btn-save fa fa-floppy-o">
                            <span>{{ 'save' | trans:{}:'activity_editor' }}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</form>