<form method="post" class="form form-horizontal">
    <div class="pull-right">
        <button href="#" data-ng-click="ctrl.update()" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i>
            <span>{{ 'save' | trans:{}:'activity_sequence_editor' }}</span>
        </button>

        <button href="#" data-ng-click="ctrl.delete()" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
            <span>{{ 'delete_activity' | trans:{}:'activity_sequence_editor' }}</span>
        </button>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="">
                <strong>{{ ctrl.activity.position }}.</strong> {{ ctrl.activity.name }}
            </a>
        </li>
        <li role="presentation">
            <a href="">
                <i class="fa fa-file-text-o"></i>
                {{ 'identity' | trans:{}:'activity_sequence_editor' }}
            </a>
        </li>
    </ul>

    <div class="panel panel-default">
        <!-- Activity properties -->
        <div class="panel-body">
            <!--{{ 'typology'|trans({}, 'activity_sequence_editor') }}-->
            <select class="form-control" required="true" name="typology" id="typology" data-ng-model="ctrl.activity.typology">
                <option value="boolean">VF</option>
                <option value="unique">QRU</option>
                <option value="multiple">QRM</option>
            </select>
        </div>

        <!-- Activity relationships -->
        <div class="panel-group">
            <!-- Name -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-name">
                            {{ 'activity_sequence_form_name' | trans:{}:'activity_sequence_editor' }}
                        </a>
                    </h4>
                </div>
                <div id="panel-name" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input class="form-control" name="name" id="name" data-ng-model="ctrl.activity.name" />
                    </div>
                </div>
            </div>

            <!-- Instruction -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-instruction">{{ 'instruction' | trans:{}:'activity_sequence_editor' }}</a>
                    </h4>
                </div>
                <div id="panel-instruction" class="panel-collapse collapse">
                    <div class="panel-body">
                        <textarea data-ui-tinymce="ctrl.tinymceOptions" class="form-control"
                                  name="instruction" id="instruction" data-ng-model="ctrl.activity.instruction"></textarea>
                    </div>
                </div>
            </div>

            <!-- Information -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-information">{{ 'information' | trans:{}:'activity_sequence_editor' }}</a>
                    </h4>
                </div>
                <div id="panel-information" class="panel-collapse collapse">
                    <div class="panel-body">
                        <textarea data-ui-tinymce="ctrl.tinymceOptions" class="form-control"
                                  name="description" id="description" data-ng-model="ctrl.activity.description"></textarea>
                    </div>
                </div>
            </div>

            <!-- Object -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-object">{{ 'object' | trans:{}:'activity_sequence_editor' }}</a>
                    </h4>
                </div>
                <div id="panel-object" class="panel-collapse collapse">
                    <div class="panel-body">
                        <textarea data-ui-tinymce="ctrl.tinymceOptions" class="form-control"
                                  name="object" id="object" data-ng-model="ctrl.activity.object"></textarea>
                    </div>
                </div>
            </div>

            <!-- Proposition -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-proposition">{{ 'proposition' | trans:{}:'activity_sequence_editor' }}</a>
                    </h4>
                </div>
                <div id="panel-proposition" class="panel-collapse collapse">
                    <div class="panel-body">
                        <textarea data-ui-tinymce="ctrl.tinymceOptions" class="form-control"
                                  name="proposition" id="proposition" data-ng-model="ctrl.activity.proposition"></textarea>
                    </div>
                </div>
            </div>

            <!-- Question -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-question">{{ 'question' | trans:{}:'activity_sequence_editor' }}</a>
                    </h4>
                </div>
                <div id="panel-question" class="panel-collapse collapse">
                    <div class="panel-body">
                        <textarea data-ui-tinymce="ctrl.tinymceOptions" class="form-control"
                                  name="question" id="question" data-ng-model="ctrl.activity.question"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>