<!--
<button data-ng-model="choice.media" data-ng-click="choiceTypeCtrl.openResourcePicker(choice)" class="btn btn-sm btn-default">
    <span class="fa fa-plus"></span>
</button>
-->
<button class="btn btn-default" type="button" data-ui-resource-picker="activitySequenceAudioResourcePicker" data-toggle="tooltip" title="youpi">
    <span class="fa fa-folder-open"></span>
    <span class="sr-only">open resource</span>
</button>
<!-- todo selected sound resource preview  -->
<button class="btn btn-sm btn-default">
    <span class="fa fa-play"></span>
</button>