[data-ng-cloak] {
  display: none !important;
}

.nav + .panel {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel .panel-group .panel {
    border-left: medium none;
    border-radius: 0 !important;
    border-right: medium none;
    border-bottom: medium none;
    margin: 0;
}

.activity-list {
    padding: 0;
    margin: 0;
}

.activity-list > li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.activity-link {
    margin-right: 5px;
}

.activity-add {
    margin-left: 10px;
}

.activity-link a,
.activity-add a {
    display: block;
    vertical-align: middle;
    padding: 15px;
    width: 52px;
    height: 52px;
    color: #333333;
    background: white;
    border: 1px solid white;
    border-radius: 4px;
}

.activity-link.active a {
    background: #428BCA !important;
    color: white !important;
    border-color: #428BCA !important;
}

.activity-list a:hover,
.activity-list a:focus,
.activity-add a {
    text-decoration: none;
    border-color: #428BCA;
    color: #428BCA;
}

input.form-control.ng-invalid {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-invalid:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.form-control.ng-valid {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-valid:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}