[data-ng-cloak] {
  display: none !important;
}

.nav + .panel {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel .panel-group .panel {
    border-left: medium none;
    border-radius: 0 !important;
    border-right: medium none;
    border-bottom: medium none;
    margin: 0;
}

.placeholder {
    display: inline-block;
    float: left;
    margin: 5px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 2px dotted #428BCA;
    border-radius: 4px;
}

.activity-list,
.activity-add,
.activity-remove,
.activity-prev-next {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.activity-list > list {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.activity-sequence-editor .navbar {
    margin-bottom: 0;
}

.activity-link,
.activity-prev-next {
    float: left;
}

.activity-link,
.activity-add,
.activity-remove,
.activity-prev-next {
    margin: 5px;
    position: relative;
}

.activity-link a,
.activity-add a,
.activity-prev-next a {
    background: white;
}

.activity-remove a {
    background: #d9534f;
}

.activity-link a,
.activity-add a,
.activity-remove a,
.activity-prev-next a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: #333333;
    border: 1px solid white;
    border-radius: 4px;
}

.activity-link.active a {
    background: #428BCA !important;
    color: white !important;
    border-color: #428BCA !important;
}

.activity-link a:hover,
.activity-list a:focus,
.activity-add a,
.activity-prev-next a {
    text-decoration: none;
    border-color: #428BCA;
    color: #428BCA;
}

.activity-remove a {
    text-decoration: none;
    border-color: #d5423d;
    color: white;
}

.activity-intro {
    text-align: center;
}

.dots {
    float: right;
    margin: 10px;
}

.dots > a:link {
    text-decoration: none;
}

.dot-selected {
    color: #428BCA;
}

.dot-selected, .dot-unselected {
    font-size: 25px;
    margin: 3px;
}

.navbar-brand{
    color:black !important;
}

.navbar-foot {
    margin-bottom: 0;
}

.btn-save {
    margin: 10px 15px;
}

.movable-item {
    margin: 18px 0 18px 0;
    padding: 10px 20px 10px 40px;
    background-color: #eeeeee;
}

.movable-item:hover {
    cursor: move;
}

.myHandle {
    cursor: move;
    float: left;
}

.annotation-buttons-container {
    margin-top: 10px;
}

.annotation-button {
    width:15%;
}

.blue {
    background-color: #00A1E5;
}

.blue:hover, .blue.focus, .blue:focus {
    background-color: #00A1E5;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.red {
    background-color: #AD0101;
}

.red:hover, .red.focus, .red:focus {
    background-color: #AD0101;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.orange {
    background-color: #F1591A;
}
.orange:hover, .orange.focus, .orange:focus {
    background-color: #F1591A;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
} 

.black {
    background-color: black;
    color:#5A0000;
}

.black:hover, .black.focus, .black:focus {
    background-color: black;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.form-row {
    margin:5px;
    padding: 5px;
    border-radius: 5px;
}

.note.active-row{
    border-top: 2px solid #06A0E0;
}

/* primary accent */
.accent-blue{
    color:#2797ED;
    font-size:18px;
}

/* secondary accent */
.accent-red{
    color:#AD0101;
    font-size:16px;
}

/* weak vowel */
.accent-orange{
    color:#F1591A;
    font-size:10px;
}
/* no accent */
.accent-black{
    font-size:14px;
    color:black;	
}

/* Input validation */
input.form-control.ng-invalid {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-invalid:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.form-control.ng-valid {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-valid:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.check-green {
    color: #5CB85C;
}

.check-blue {
    color: #428BCA;
}

.close-red {
    color: #d9534f;
}

li {
    margin-bottom: 5px;
}

.list-group {
    padding: 0 0 10px 0;
}

.list-group-item {
    border-left: none;
    border-right: none;
}

.draggable-item {
    padding: 20px;
}

.draggable-item:hover {
    background-color: #eeeeee;
}

.draggable-item .btn-checkbox {
    margin: 10px;
}
.mediaType {
    padding-bottom: 10px;
}
