[data-ng-cloak] {
  display: none !important;
}

.nav + .panel {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel .panel-group .panel {
    border-left: medium none;
    border-radius: 0 !important;
    border-right: medium none;
    border-bottom: medium none;
    margin: 0;
}

.activity-sequence-editor .navbar {
    margin-bottom: 0;
}

.navbar-brand{
    color:black !important;
}

.navbar-foot {
    margin-bottom: 0;
}

.btn-save {
    margin: 10px 15px;
}

.movable-item {
    margin: 18px 0 18px 0;
    padding: 10px 20px 10px 40px;
    background-color: #eeeeee;
}

.movable-item:hover {
    cursor: move;
}

.myHandle {
    cursor: move;
    float: left;
}

.annotation-buttons-container {
    margin-top: 10px;
}

.annotation-button {
    width:15%;
}

.blue {
    background-color: #00A1E5;
}

.blue:hover, .blue.focus, .blue:focus {
    background-color: #00A1E5;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.red {
    background-color: #AD0101;
}

.red:hover, .red.focus, .red:focus {
    background-color: #AD0101;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.orange {
    background-color: #F1591A;
}
.orange:hover, .orange.focus, .orange:focus {
    background-color: #F1591A;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
} 

.black {
    background-color: black;
    color:#5A0000;
}

.black:hover, .black.focus, .black:focus {
    background-color: black;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.form-row {
    margin:5px;
    padding: 5px;
    border-radius: 5px;
}

.note.active-row{
    border-top: 2px solid #06A0E0;
}

/* primary accent */
.accent-blue{
    color:#2797ED;
    font-size:18px;
}

/* secondary accent */
.accent-red{
    color:#AD0101;
    font-size:16px;
}

/* weak vowel */
.accent-orange{
    color:#F1591A;
    font-size:10px;
}
/* no accent */
.accent-black{
    font-size:14px;
    color:black;	
}

/* Input validation */
input.form-control.ng-invalid {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-invalid:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.form-control.ng-valid {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.form-control.ng-valid:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

li {
    margin-bottom: 5px;
}

.draggable-item {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.draggable-item .btn-checkbox {
    margin: 10px;
}
