<div class="modal-header">
    <h4 class="modal-title">Select Activity Type</h4>
</div>

<div class="modal-body">
    <h4>Choix</h4>
    <ul class="list-group">
        <li class="list-group-item">Coucou</li>
        <li class="list-group-item">Tu veux</li>
        <li class="list-group-item">voir</li>
        <li class="list-group-item">ma bite</li>
    </ul>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="select()">Create</button>
    <button class="btn btn-default cancel" ng-click="cancel()">Cancel</button>
</div>