<form method="post" class="form form-horizontal">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'editor'|trans:{}:'activity_sequence_editor' }}
                <small>{{ activitySequenceCtrl.sequence.name }}</small>
            </h3>

            <!--<span class="pull-right">
                <img height="18px" data-ng-show="requestCount.count >0" src="{{ asset('bundles/innovaactivity/images/editor/ajax-loader.gif') }}" />
            </span>-->
        </div>

        <div class="panel-body">
            <div class="form-group row">
                <label class="control-label col-md-3 required" for="sequence_name">{{ 'activity_sequence_form_name'|trans:{}:'activity_sequence_editor' }}</label>
                <div class="col-md-9">
                    <input id="sequence_name" name="sequence_name" class="form-control" type="text" data-ng-model="activitySequenceCtrl.sequence.name" required="required" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="activity-list" data-ui-sortable="sortableOptions" data-ng-model="activitySequence.activities">
                <li class="activity-link" data-ng-repeat="activity in activitySequenceCtrl.sequence.activities" data-ng-class="{ 'active' : activitySequenceCtrl.currentActivity == activity }">
                    <a href="" data-ng-click="activitySequenceCtrl.showActivity(activity)" data-toggle="tooltip" data-container="body" title="{{ activity.name }}">
                        {{ activity.order }}
                        <span class="sr-only">{{ activity.name }}</span>
                    </a>
                </li>
                <li class="activity-add">
                    <a href="" data-ng-click="activitySequenceCtrl.addActivity()" data-toggle="tooltip" data-container="body" title="{{ 'add_activity' | trans:{}:'activity_sequence_editor' }}">
                        <i class="fa fa-plus"></i>
                        <span class="sr-only">{{ 'add_activity'|trans:{}:'activity_sequence_editor' }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <activity-form data-activity="activitySequenceCtrl.currentActivity" data-ng-if="activitySequenceCtrl.currentActivity"></activity-form>

            <div class="text-center" ng-if="activitySequenceCtrl.sequence.activities.length == 0">
                <div class="alert alert-info" role="alert">
                    {{ 'empty_activity_sequence'| trans:{}:'activity_sequence_editor' }}
                </div>
            </div>
        </div>
    </div>
</form>